/* removed star padding and margin 0px */
hr.new1{
border: 1px solid black;
}
.table-tr{
    background-color: #6a6666;
}
.navlogo{
    cursor: pointer;
    image-resolution: auto;
}

.container{
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    height: 75px;
    /* height dili ahe hithenav bar la */
    position:relative;
    /* its make hrizontal to content in nav bar/container */
    /* border: 2px solid red; */
}
.navbar{
    margin: 0px;
    padding: 15px 11px;
    display: flex;
    list-style: none;
    position: relative;
}
.navbar .item{
    font-size: 1.2rem;
    /* margin: 0px 0px; */
    padding: 7px 12px;
    
}
.item a{

    color: black;
    text-decoration: none;
    /* remove underline bellow the items */
    border-radius: 20px;
}
.item a:hover{
    padding: 2px 10px;
    color: white;
    /* text-decoration: none; */
    /* remove underline bellow the items */
    background-color: #6a6666;
    
}
body{
    /* background-image: url('https://source.unsplash.com/1600x900/?list'); */
    background-image: url('static/bg2.jpg') ;
    /* no-repeat center center/cover */
    opacity: 0.99;
    position: relative;
    /* height: 100%; */
    /* width: 100%; */
    image-resolution: 1208px 1000px;
}
.table{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 10px;
    padding: 10px 10px;
}
   
      
.th{
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 250px;
}

tr:nth-child(even) {
        background-color: #6a6666;
        /* cursor: pointer; */
}
.btn{
    /* color: grey; */
    padding: 5px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 5px ;
    background-color: rgb(94, 89, 89);;
}
.btn:hover{
    background-color: rgb(94, 89, 89);
    color: white;
}
/* .btn-p{
    display: flex;
    position: relative;
    top:78px;
    left:1080px;
} */
.btn-p{
    /* display: block;
    margin: auto;
 */
 text-align: center;
}


/* login */

body {
    background-image: url('static/bg2.jpg');
}

.lbox {
    width: 200px;
    /* height: 0px 600px; */
    position: absolute;
    /* top: 50%; */
    top: 144%;
    left: 50%;
    /* transform: translate(-75%, -50%); */
    transform: translate(-67%, -29%);
    color: white;
    justify-content: center;

}

.lbox h1 {
    /* color: white; */
    color: black;
    border-bottom: 3px solid;
    width: 250px;
    padding: 0px;
    margin: 10px 5px;
}

.textbox {
    padding: 6px 12px;
    margin: -6px -6px;
}

.btn {
    width: 90px;
    /* padding: 5px; */
    margin: 3px 85px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(94, 89, 89);
    justify-content: first baseline;
}

.btn:hover {
    background-color: rgb(94, 89, 89);
    color: white;
    cursor: pointer;
}

input {
    background-color: #908b8b;
    color: white;
    height: 30px;
    width: 200px;
    border: 1.5px solid black;
    border-radius: 20px;
    margin: 0px 9px;
    padding: 2px 20px;
}

input:hover {
    background-color: #6a6666;
    color: white;
}
.ulogo{
    /* height: 35px;
    margin: -19% -31px;
    cursor: pointer; */
    height: 35px;
    /* margin: -4% -10px; */
    cursor: pointer;
    margin:-5% -27px -38px -34px
    /* margin:75px -112px -104px 989px; */
}
/* footer */
.fcontainer{
    display: block;
    /* position: relative; */
    /* justify-content: center; */
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    font-size: 1.2rem;
    /* margin-top: 5%; */
}
/* table */
.bcontainer{
    display: flex;
    position: absolute;
    margin: 132px 502px 19px 335px;
}