{% extends 'base.html' %}
{% block title %} Login {% endblock title %}
{% block body %}
<img src="{{ url_for('static', filename='static/logo (50x50)'.png) }}" alt="">

<!-- form register-login -->
  <!-- style="margin: -7px 316px;" -->

  <!-- <form  method="POST" action='/login' class="row g-2 justify-content-center"> -->
  <form  method="POST" action='/login' class="row g-2 justify-content-center">
  <!-- {% if new_user == users  %} -->
    <div class="col-auto">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" class="form-control" id="staticEmail2" name="email" value="" placeholder="Enter Email" required>
    </div>
    <div class="col-auto">
      <label for="Password2" class="visually-hidden">Password</label>
      <input type="password" class="form-control" id="Password2" name="password" placeholder="Password" required>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-dark mb-3">Login</button>
    </div>
  </form>
    <div class="container" style="text-align: center;">
      <p>Not a member? <a href="/">Create Account</a></p>
    </div>
  <!-- {% else %}
      You are alredy registered / logged in !!! 
  {% endif %} -->
  
  {% endblock body %}
  